.navbar-container {
	background-color: #1a1a1a;
	height: 56px;
	width: 100%;
	margin: 0;
}

.navbar-button {
	color: honeydew;
	cursor: pointer;
	height: 100%;
	border-radius: 0;
	font-size: large;
	text-transform: uppercase;
	background-color: #1a1a1a;
	border: 0;
	padding: 0px 20px;
	transition: 0.4s;
}

.navbar-button:hover {
	background-color: honeydew;
	color: #1a1a1a;
}
