.text-input {
	padding: 8px;
	color: #444;
	background-color: #ddd;
	font-family: sans-serif;
	border-width: 2px;
	border-style: solid;
	border-color: #00000000;
}

.text-input:focus {
	outline: unset;
	border-color: #999;
}
