.card {
	border-style: solid;
	border-width: 1px;
	border-color: #555;
	margin: 5px;
}

.card-header {
	background-color: #212;
	padding: 10px;
	color: white;
	font-size: larger;
	font-weight: bold;
	text-transform: uppercase;
}

.card-body {
	background-color: #eee;
	padding: 10px;
	font-size: large;
	color: #444;
}

.card-footer {
	background-color: #ccc;
	padding: 10px;
	font-size: large;
}
